.headnav{
    height: auto;
    width: 100%;
    background-image: url("695130.jpg");
    background-size: cover;
    background-position: center;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    
}

.list{
    
    text-decoration: none;
    float: left;
    padding: 15px;
    list-style-type: none;
    font-weight: bold;
    text-shadow: 2px 2px 8px orange;
    font-size: 20px;
}

.list a{
    text-decoration: none;
    color:white;
}

.list:hover{
    background-color: rgb(231, 9, 46);
    border-radius: 30px;
}

.pro{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px orange;
}

.btn{
    background-color: rgb(231, 9, 46);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    
}

.btn:hover{
    background-color: rgb(235, 83, 23);
}

.con{
    text-shadow: 2px 2px 8px orange;
    color:rgb(247, 244, 245);
    padding: 30px;
   
}

.intro{
    text-shadow: 2px 2px 8px orange;
    color:rgb(247, 244, 245);
    text-align: right;
    padding: 30px;
    font-size: 25px;
    
}

.all{
    background-image: url("Image.jpeg");
}

.about{
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px orange;
    color:rgb(247, 244, 245);
    text-align: right;
    padding: 10px;
    margin: 30px;
}


.icon{
    text-decoration: none;
    float: left;
    padding: 15px;
    margin-right: 20px;
    list-style-type: none;
    font-weight: bold;
    
}

.icon a{
    text-decoration: none;
    color: rgb(5, 5, 5);
    
}

.icon:hover{
    background-color: rgb(231, 9, 46);
    border-radius: 30px;
}

.contact{
    font-size: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px orange;
    color:white;
    padding: 30px;
    height: auto;
    background-image: url("695130.jpg");
    text-align: center;
}


img{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20%;
    
    border: 5px solid transparent;
    
}

.btn1{
    background-color:rgb(231, 9, 46);
    color: black;
    text-decoration: none;
    border: 5px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    float: right;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.btn1:hover{
    background-color: rgb(235, 83, 23);
}

.btn2{
    background-color: rgb(231, 9, 46);
    color: black;
    text-decoration: none;
    border: 5px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    float: right;
    font-size: 20px;
    clear: right;
    margin-bottom: 20px;
}

.btn2:hover{
    background-color: rgb(235, 83, 23);
}

.btn3{
    background-color: rgb(231, 9, 46);
    color: black;
    text-decoration: none;
    border: 5px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    float: right;
    font-size: 20px;
    clear: right;
    margin-bottom: 20px;
}

.btn3:hover{
    background-color: rgb(235, 83, 23);
}

.form{
    
    margin:8px;
    border-radius: 5px;
    font-size: 20px;
}

form{
    border: solid black;
    border-radius: 10px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 50px;
    background-image: url("wp9314293.webp");
}
